/* GENERAL */
*{
    box-sizing: border-box;
}

body{
     font-family: "Bellefair", serif;
     font-weight: 400;
     font-style: normal;
     height: 100vh; 
}

a{
    text-decoration: none;
} 

button{
    cursor: pointer; 
}

footer{
    position: absolute; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

/*NAV BARS*/
.main-nav-bar-div{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 3rem 0rem 0 3rem;
    width: 100%;
}

.main-nav-bar-line{
    height: 1px;
    background-color:#4d4d4d; 
    width: 40%;
}

.main-nav-bar-links-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem; 
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  padding: 1rem 4rem;
 
}

.destination-nav{
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}

/* NAVLINKS */
.main-nav-bar-links{
    color: #FFFFFF;
    padding-bottom: 1rem;
}

.main-nav-bar-links-active, .main-nav-bar-links-hover:hover{
    border-bottom: 2px solid #FFFFFF;
}

.destination-nav-links{
    color: #D0D6F9;
    padding-bottom: 1rem;
}

.destination-nav-links-active, .destination-nav-links:hover{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.crew-nav-links{
    background-color: #4d4d4d;
    height: 1.5rem; 
    width: 1.5rem; 
    border-radius: 50%; 
    margin-right: 5rem; 
}

.crew-nav-links-active, .crew-nav-links:hover{
    background-color: #FFFFFF;
}

.tech-nav-links{
    height: 4rem; 
    width: 4rem; 
    border-radius: 50%; 
    cursor:pointer; 
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 1rem; 
}

.tech-nav-links-active, .tech-nav-links:hover{
    color: #0B0D17;
    background-color: #FFFFFF;
}

/* PAGES */

/* 00 HOME */
.home-div{
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; 
    padding-bottom: 5rem; 
}

.home-details-div{
    width: 30%;
}

.home-details-div>h1{
    font-size: 9rem;
    margin: 0rem; 
}

.home-details-div>p{
    text-align: justify;
}

.explore-btn{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 15rem;
    width: 15%;
    font-size: 1.75rem;

}

/*01 DESTINATION*/
.destination-div{
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    height: 100vh;
    padding: 5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.destination-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 7rem; 
}

.destination-content-div>div>h2{
    margin-bottom: 3.5rem;
}

.destination-details-div{
    width: 40%;
}

.destination-details-div>h1{
    font-size: 8rem;
    margin: 0; 
}

.destination-details-div>p{
    margin-bottom: 1.5rem;
    text-align: justify; 
}

.destination-distance-traveltime-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem; 
}


/*02 CREW*/
.crew-div{
    background-image: url("./assets/crew/background-crew-desktop.jpg"); 
    height: 100vh;   
    background-size: cover;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;  
}

.crew-details-div{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 30%;
}

.crew-details-div>h1{
    font-size: 3.5rem; 
    margin: 0; 
}

.crew-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.crew-img{
    height: 30rem;
    mask-image: linear-gradient(to top, transparent, black 20%);
   -webkit-mask-image: linear-gradient(to top, transparent, black 20%); 
}

/*03 TECHNOLOGY*/
.tech-div{
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem; 

}

.tech-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content:center;
    align-items: center;
    gap: 5rem;
}

.tech-details-div>h1{
    font-size: 5rem;
    margin: 0;  
}

.tech-details-div>h2{
    margin-bottom: 3rem;
}

.tech-nav{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tech-img{
    height: 25rem; 
}

/* FONTS */
.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

/* MISC */
.white-text{
    color: #FFFFFF;
}

.light-blue-text{
    color: #D0D6F9; 
}

.dark-blue-text{
    color: #0B0D17; 
}

.dark-gray-text{
    color:#b1b3b6; 
}
.bold{
    font-weight: bold; 
}

/* MEDIA QUERIES */
/* Tablet styles */
@media (max-width: 1024px) {

    .home-div{
        flex-direction: column;
        justify-content: flex-end;
        align-items:  center;
        text-align: center; 
    }
    .home-details-div{
        width: 50%;
    }
    .home-details-div>p{
    text-align: center;
    }
    .explore-btn{
      width: 25%;
      margin-top: 2rem;
    }
}