/* GENERAL */
.layout-div{
    position: relative; 
}

*{
    box-sizing: border-box;
}

body{
     font-family: "Bellefair", serif;
     font-weight: 400;
     font-style: normal;
     min-height: 100vh; 
     min-width: 320px; 
}

a{
    text-decoration: none;
} 

button{
    cursor: pointer; 
}

footer{
    position: absolute;
    margin: auto; 
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white; 
    padding-bottom: 1rem; 
}

/*NAV BARS*/
.main-nav-bar-div{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 3rem 0 0 3rem;
    width: 100%;
}

.main-nav-bar-line{
    height: 1px;
    background-color:#4d4d4d; 
    width: 40%;
}

.main-nav-bar-links-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem; 
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 1rem 4rem;
}

.destination-nav{
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}

.close-mobile-navbar-btn{
    cursor: pointer; 
    position: absolute; 
    top: 5%; 
    left: 87%;
}

.tech-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

/* NAVLINKS */
.main-nav-bar-links{
    color: #FFFFFF;
    padding-bottom: 1rem;
}

.main-nav-bar-links-active, .main-nav-bar-links-hover:hover{
    border-bottom: 2px solid #FFFFFF;
}

.destination-nav-links{
    color: #D0D6F9;
    padding-bottom: 1rem;
}

.destination-nav-links-active, .destination-nav-links:hover{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.crew-nav-links{
    background-color: #4d4d4d;
    height: 1.5rem; 
    width: 1.5rem; 
    border-radius: 50%; 
}

.crew-nav-links-active, .crew-nav-links:hover{
    background-color: #FFFFFF;
}

.tech-nav-links{
    height: 4rem; 
    width: 4rem; 
    border-radius: 50%; 
    cursor:pointer; 
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 1rem; 
}

.tech-nav-links-active, .tech-nav-links:hover{
    color: #0B0D17;
    background-color: #FFFFFF;
}

/* PAGES */

/* 00 HOME */
.home-main{
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; 
    padding-bottom: 7rem; 
}

.home-details-div{
    max-width: 500px; 
}

.home-details-div>h1{
    font-size: 9rem;
    margin: 0;
}

.home-details-div>p{
    text-align: justify;
    line-height: 1.3;
    font-size: 1.2rem;
    margin: 0px; 
}

.explore-btn{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 14rem;
    width: 13rem;
    min-height: 14rem;
    min-width: 13rem;
    font-size: 1.75rem;
}

/*01 DESTINATION*/
.destination-main{
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    min-height: 100vh; 
    padding: 5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.destination-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 7rem; 
}

.destination-content-div>div>h2{
    margin-bottom: 3.5rem;
}

.destination-details-div{
    width: 40%;
}

.destination-details-div>h1{
    font-size: 6rem;
    margin: 0; 
}

.destination-details-div>p{
    margin-bottom: 1.5rem;
    text-align: justify; 
    line-height: 1.3;
    font-size: 1.2rem;
}

.destination-distance-traveltime-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem; 
}

/*02 CREW*/
.crew-main{
    background-image: url("./assets/crew/background-crew-desktop.jpg"); 
    min-height: 100vh;   
    background-size: cover;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;  
}

.crew-details-div{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 30%;
}

.crew-details-div>h1{
    font-size: 3.5rem; 
    margin: 0; 
}

.crew-details-div>p{
    line-height: 1.3;
    font-size: 1.2rem;
}

.crew-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    gap: 4rem; 
}

.crew-img{
    height: 30rem;
    mask-image: linear-gradient(to top, transparent, black 20%);
   -webkit-mask-image: linear-gradient(to top, transparent, black 20%); 
}

/*03 TECHNOLOGY*/
.tech-main{
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    min-height: 100vh;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem; 
}

.tech-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content:center;
    align-items: center;
    gap: 5rem;
}

.tech-details-div>div>p{
    line-height: 1.3;
    font-size: 1.2rem;
}

.tech-details-div>div>h1{
    font-size: 3.5rem;
    margin: 0;  
}

.tech-details-div>h2{
    margin-bottom: 3rem;
}

.tech-img{
    height: 30rem; 
}

/* 404 NOT FOUND */
.not-found-div{
    background-image: url("./assets/crew/background-crew-desktop.jpg"); 
    min-height: 100vh;   
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 2rem;
}

.not-found-div>h1{
    margin: 0;
}

/* FONTS */
.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

/* MISC */
.white-text{
    color: #FFFFFF;
}

.light-blue-text{
    color: #D0D6F9; 
}

.dark-blue-text{
    color: #0B0D17; 
}

.dark-gray-text{
    color:#b1b3b6; 
}
.bold{
    font-weight: bold; 
}

/* MEDIA QUERIES */
/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px){

    /* Nav Bar -- Tablet*/
    .main-nav-bar-div{
        padding: 0; 
        justify-content: space-evenly;
    }

    .main-nav-bar-line{
        display: none;
    }

    .main-nav-bar-links-div{
        gap: 2rem; 
    }

    /* Home Page -- Tablet*/
    .home-main{
        flex-direction: column;
        justify-content: space-between;
        align-items:  center;
        text-align: center; 
        background-image: url("./assets/home/background-home-tablet.jpg");
        background-size: cover;
        padding-top: 9rem; 
        padding-bottom: 9rem; 
    }

    .home-details-div>p{
        text-align: center;  
        margin-bottom: 2rem;
    }

    /* Destination Page -- Tablet*/

    .destination-main{
        padding: 1rem;
    }

    .destination-nav{
        text-align: center; 
        align-self: center;
    }

    .destination-content-div{
        min-height: 100vh; 
        flex-direction: column; 
        gap: 1.5rem;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
      
    }

     .destination-content-div>div>h2{
        margin-bottom: 1.5rem;
    }

    .destination-content-div>div>img{
        width: 300px;
    }

    .destination-details-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .destination-details-div>h1{
        font-size: 4rem;
        margin: 1rem 0 0 0; 
    }

    .destination-details-div>p{
        border-bottom: 1px solid #4d4d4d;
        padding-bottom: 2rem;
        margin: 0; 
        text-align: center;
    }

    /* Crew Page -- Tablet*/
    .crew-main{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0rem;
        padding-top: 8rem;
    }

    .crew-details-div{
       
        align-items: center;
        text-align: center; 
      
        width: 70%;
    }

    .crew-details-div>h1{
       font-size: 2.5rem; 
       
    }

    .crew-details-div>h2{
        margin: 0 0 1rem 0; 
        
    }

    .crew-details-div>p{
         line-height: 1.3;
        font-size: 1.2rem;
        
    }
    .crew-nav{
        margin: 1rem 0 .75rem 0; 
    }

    .crew-img{
       height: 25rem;
       margin-top: 1rem;
    }

    /* Technology Page -- Tablet*/
    .tech-main{
        margin: 0; 
    }

    .tech-content-div{
        flex-direction: column-reverse;
        text-align: center;
        gap: 0;
        margin-top: 3rem; 
        
    
    }

    .tech-details-div{
        width: 80%;
    }

    .tech-details-div>div>h1{
        font-size: 2.5rem;
    }

    .tech-details-div>h2{
        margin: 1.5rem 0 0 0; 
    }

    .tech-details-div>div>p{
        line-height: 1.3;
        font-size: 1.2rem;
    }

    .tech-img{
        height: 20rem; 
    }

    .tech-nav{
        margin-top: 1rem; 
        flex-direction: row;
        gap: 1.75rem; 
    }
}

/* Mobile styles */
@media (max-width: 767px) {

    /* Nav Bar -- Tablet*/
    .main-nav-bar-div{
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 2rem; 
    }

    .main-nav-bar-links-div{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2.5rem;
        font-size: .80rem;
        gap: 2rem;
    }

    .main-nav-bar-links{
        display: flex; 
        gap: .25rem;
        padding-bottom: .5rem;
    }

    .main-nav-bar-line{
        display: none;
    }

    /* Home Page -- Mobile*/
    .home-main{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 0; 
        margin: 0; 
        text-align: center;
        background-image: url("./assets/home/background-home-mobile.jpg");
        background-size: cover;
    }

    .home-details-div{
        padding: 5.5rem 2rem 0 2rem;
        margin: 0; 
    }

    .home-details-div>h1{
        font-size: 4rem;
    }

     .home-details-div>h2{
        margin-bottom: .25rem; 
    }

    .home-details-div>p{
        margin-bottom: 1rem; 
        text-align: center;
    }

    .explore-btn{
        height: 9rem;
        width: 9rem;
        min-height: 9rem;
        min-width: 9rem;
        font-size: 1.25rem;
        margin-top: .5rem;
        margin-bottom: 4rem; 
    }

    .hamburger-icon{
        height: 1.75rem;
    }

    /* Destination Page -- Mobile*/
    .destination-nav{
        justify-content: center;
    }

    .destination-main{
        padding: 0 2rem; 
    }
   
    .destination-content-div{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 0; 
        margin: 6rem 0rem 3rem 0rem; 
        text-align: center;
        gap: 1rem;
    }

    .destination-content-div>div>img{
        width: 12rem;
        margin: 0 0 1rem 0;
        
    }

    .destination-content-div>div>h1{
        font-size: 3rem;
        margin: .75rem 0; 
    }

    .destination-content-div>div>h2{
        font-size: 1.25rem;
        margin: 0 0 2rem 0; 
    }

    .destination-details-div{
        width: 100%;
    }

    .destination-details-div>p{
        text-align: center;
    }

    .destination-distance-traveltime-div{
        justify-content: center;
    }

    /* Crew Page -- Mobile*/
    .crew-main{
        flex-direction: column;
        gap: 7rem;
       
    }
    
    .crew-details-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        height: 20%;
        width: 100%;
        padding: 0 2rem; 
        margin-top: 7rem;
    }

    .crew-details-div>h1{
        font-size: 2rem;
        margin-top: .25rem;
    }
    
    .crew-details-div>h2{
        font-size: 1.25rem;
        margin: .75rem;
        
    }

    .crew-details-div>p{
        margin: 1rem 0 0 0 ; 
    }

    .crew-nav-links{
        height: 1rem; 
        width: 1rem;  
    }

    .crew-img{
        height: 17rem;
        margin-top: 1rem;
    }

    /* Technology Page -- Mobile*/
    .tech-main{
        min-height: 100vh;
        padding: 0; 
        
 
    }

    .tech-nav{
        flex-direction: row;
        gap: 2rem;
    }
    .tech-content-div{
        flex-direction: column-reverse;
        gap: 1.5rem;
        
    }

    .tech-details-div{
        text-align: center;
        padding: 0rem 2rem;
        
    }

    .tech-details-div>div>h1{
        font-size: 2rem;
    }

    .tech-details-div>h2, .tech-details-div>div>h2{
        font-size: 1.25rem;
        margin-bottom: 1.5rem; 
    }

    .tech-details-div>div>p{
        margin: 1rem 0 0 0; 
    }

    .tech-img{
        height: 15rem;
        margin-top: 6rem; 
    }

    .tech-nav-links{
        height: 2.5rem; 
        width: 2.5rem;
    }
}

 /* Accessibility */
.explore-btn:focus-visible {
    outline: 3px solid #ffffff;
    outline-offset: 4px;
}