/* GENERAL */
*{
    box-sizing: border-box;
}

body{
     font-family: "Bellefair", serif;
     font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
} 

button{
    cursor: pointer; 
}

/*NAV BARS*/
.main-nav-bar-div{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* PAGES */

/* 00 HOME */
.home-div{
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.home-div>div>h1{
    font-size: 9rem;
    margin: 0rem; 
}

.explore-btn{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 15rem;
    width: 15%;

}

/*01 DESTINATION*/
.destination-div{
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    height: 100vh;

}

/*02 CREW*/
.crew-div{
    background-image: url("./assets/crew/background-crew-desktop.jpg"); 
    height: 100vh;   
    background-size: cover;
}

.crew-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
}

.crew-link{
    height: 2rem; 
    width: 2rem; 
    border-radius: 50%; 
    margin-right: 5rem; 
    border: 2px solid pink; 
    color: pink;
    cursor: pointer; 
}
/*03 TECHNOLOGY*/
.tech-div{
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    height: 100vh;
}

.tech-nav{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tech-link{
    height: 2rem; 
    width: 2rem; 
    border-radius: 50%; 
    cursor:pointer; 
}
/* FONTS */
.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

/* MISC */
.white-text{
    color: #FFFFFF;
}

.light-blue-text{
    color: #D0D6F9; 
}

.dark-blue-text{
    color: #0B0D17; 
}

.dark-gray-text{
    color:#4d4d4d; 
}
.bold{
    font-weight: bold; 
}