/* GENERAL */
*{
    box-sizing: border-box;
}

body{
     font-family: "Bellefair", serif;
     font-weight: 400;
     font-style: normal;
     height: 100vh; 
}

a{
    text-decoration: none;
} 

button{
    cursor: pointer; 
}

footer{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*NAV BARS*/
.main-nav-bar-div{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 10rem;
    padding: 3rem 0 0 3rem;
}

/* PAGES */

/* 00 HOME */
.home-div{
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; 
    padding-bottom: 5rem; 
}

.home-details-div{
    width: 30%;
}

.home-details-div>h1{
    font-size: 9rem;
    margin: 0rem; 
}

.home-details-div>p{
    text-align: justify;
}

.explore-btn{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 15rem;
    width: 15%;
    font-size: 1.75rem;

}

/*01 DESTINATION*/
.destination-div{
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    height: 100vh;
    padding: 5rem; 

}
.destination-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 7rem; 
}

.destination-div>h2{
    margin-bottom: 3rem;
}

.destination-details-div{
    width: 30%;
}

.destination-details-div>h1{
    font-size: 8rem;
    margin: 0; 
}

.destination-details-div>p{
    margin-bottom: 1.5rem;
    text-align: justify; 
}

.destination-distance-traveltime-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem; 
}

/*02 CREW*/
.crew-div{
    background-image: url("./assets/crew/background-crew-desktop.jpg"); 
    height: 100vh;   
    background-size: cover;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    
}

.crew-details-div{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 30%;
}

.crew-details-div>h1{
    font-size: 3.5rem; 
    margin: 0; 
}
.crew-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
}

.crew-link{
    height: 1.5rem; 
    width: 1.5rem; 
    border-radius: 50%; 
    margin-right: 5rem; 
    background-color: #4d4d4d;
    cursor: pointer; 
}

.crew-link:hover{
    background-color: #FFFFFF;
}
/*03 TECHNOLOGY*/
.tech-div{
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem; 

}

.tech-content-div{
    display: flex; 
    flex-direction: row; 
    justify-content:center;
    align-items: center;
    gap: 4rem;
}

.tech-details-div{
    width: 30%; 
}

.tech-details-div>h1{
    font-size: 5rem;
    margin: 0;  
}

.tech-nav{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tech-link{
    height: 4rem; 
    width: 4rem; 
    border-radius: 50%; 
    cursor:pointer; 
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 1rem; 
}

.tech-link:hover{
    color: #0B0D17;
    background-color: #FFFFFF;
}
/* FONTS */
.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

/* MISC */
.stripes {
  background: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0 20px,   /* translucent white */
    rgba(255, 255, 255, 0.3) 20px 40px,
    rgba(0, 0, 0, 0.1) 40px 60px        /* translucent black */
  );
}

.white-text{
    color: #FFFFFF;
}

.light-blue-text{
    color: #D0D6F9; 
}

.dark-blue-text{
    color: #0B0D17; 
}

.dark-gray-text{
    color:#4d4d4d; 
}
.bold{
    font-weight: bold; 
}